<app-header></app-header>
<router-outlet></router-outlet>
<br/>
<button (click)="habilitar = (habilitar==true)?false:true;" class="btn btn-primary my-3">{{habilitar==true?'Ocultar':'Mostrar'}}</button>
<div class="container" *ngIf="habilitar">
    <div class="card">
        <div class="card-header">
            Listado
        </div>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let curso of cursos">{{curso}}</li>
        </ul>
    </div>
    
</div>
<app-clientes></app-clientes>

<app-footer></app-footer>