<div class="row">
    <div class="col-md-10">
        <button class="btn btn-info" (click)="onNewRecipe()" >Add Recipe</button>
        <ul class="list-group clearfix">
            <li class="list-group-item list-group-item-action" *ngFor="let item of recipesList;let i = index" >
                <a [routerLink]="item.id" class="list-group-item list-group-item-action" routerLinkActive="active">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>{{item.name}}</h4>
                            <span>{{item.description}}</span>
                        </div>
                        <div class="col-md-4">
                            <img [src]="item.img" style="max-width: 100px"/>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>