<p>contacto works!</p>
<form #formContacto="ngForm" (ngSubmit)="onSubmit()">
    <label for="lbNombre">Nombre</label><br/>
    <input type="text" name="lbNombre" #nombre="ngModel" [(ngModel)]="usuario.nombre" required="true"/>
    <span *ngIf="nombre.touched && !nombre.valid">
        Nombre obligatorio
    </span><br/>

    <label for="lbApellido">Apellido</label><br/>
    <input type="text" name="lbApellido" #apellido="ngModel" [(ngModel)]="usuario.apellido" required/><br/>

    <label for="lbMail">Mail</label><br/>
    <input type="text" name="lbMail" #mail="ngModel" [(ngModel)]="usuario.mail" required/><br/>

    <label for="lbMensaje">Mensaje</label><br/>
    <textarea name="lbMensaje" #mensaje="ngModel" [(ngModel)]="usuario.mensaje" required></textarea>
    <br/>
    <input type="submit" value="Enviar"/>
</form>
