<div class="container" style="padding-top: 5%;">
<div *ngFor="let recipe of recipes">
  <div class="card" >
  <div class="card-header">{{recipe.name}}</div>
    <div class="card-body">
      <div class="float-left">
        <p class="card-text">{{recipe.description}}</p>
        <ul>
          <li *ngFor="let ingredient of recipe.ingredients">
            {{ingredient.name}}
          </li>
        </ul>
        <button class="btn btn-success" (click)="details(recipe)">Details</button>
      </div>
      <div class="float-right">
        <img [src]="recipe.img" class="img-responsive" style="max-height: 100px;">
      </div>
    </div>
  </div>
  <br/>
</div>


<app-recipes-detail *ngIf="recipeSelected" 
  [recipe]="recipeSelected"
  (ingredient)="addIngredient($event)"></app-recipes-detail>
</div>
