<p>externo works!</p>
{{fecha | date: 'dd/MM/yyyy'}}
{{4 | calculadora: 7}}
<hr/>
<input type="text" [(ngModel)]="userId" (keyup.enter)="cargarUsuario()">
<div *ngIf="user">
    <h3>{{user.first_name}} {{user.last_name}}</h3>
</div>
<hr/>
<h2>Crear usuario</h2>
<form #formUsuario="ngForm" (ngSubmit)="onSubmit(formUsuario)">
    <label for="lbNombre">Nombre</label>
    <input type="text" name="lbNombre" #nombre="ngModel" [(ngModel)]="new_user.name" required/>
    <span *ngIf="nombre.touched && !nombre.valid">
        Nombre no valido
    </span>
    <br/>

    <label for="lbTrabajo">Trabajo</label>
    <input type="text" name="lbTrabajo" #job="ngModel" [(ngModel)]="new_user.job" required/>
    <span *ngIf="job.touched && !job.valid">
        Trabajo no valido
    </span><br/>
    <input type="submit" value="Guardar" [disabled]="!formUsuario.form.valid"/>
</form>

<div *ngIf="usuario_guardado">
    <h3>{{usuario_guardado.name}}</h3>
    <h4>{{usuario_guardado.job}}</h4>
</div>