<p>item works!</p>
<div class="container" >
    <div class="card" style="width: 18rem;">
        <p *ngFor="let item of itemList">
            {{item.name}}
        </p>
        <form (ngSubmit)="onSubmit()" #f="ngForm">
            <div class="card-body">
                <!-- Aplicamos el atributo ngModel para que el value del ngForm contenga el value de los input en vez de todo el html-->
                <div class="form-group" >
                    <span>Nombre:</span>
                    <input 
                        type="text" 
                        class="form-control" 
                        ngModel
                        name="name"/>
                    <span>Categoria:</span>
                    <input type="text" class="form-control" ngModel
                        name="category"/>
                    <span>Precio:</span>
                    <input type="text" class="form-control" ngModel
                    name="price"/>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    
                </div>
            </div> 
        </form>
    </div>
</div>